.image_list {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0;
    grid-auto-rows: 10px auto;
    margin: 3rem auto;

    img {
        width: 200px;
        margin: 0;
        padding: 0;
    }
}